<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <header>
      <a href="/">
        <img src="/images/logo.png" width="30" height="30" alt="logo">Property Listing
      </a>
    </header>
  </div>

  <div class="p-2 bd-highlight" style="height: 85vh;">
    <div class="container">
      <h1><%= title %></h1>
      <ul class="nav nav-tabs">
        <li><a href="/">Listing</a></li>
        <li ><a href="/listinglist">Listing Lists</a></li>
        <li class="active"><a href="/document">Documentation</a></li>
      </ul>
      <br />
      <h2>Project References</h2>
      <p>This node.js project using REST APIs with express framwork, bootstrap, and Jquery's AJAX capability.</p>
      <ul>
        <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
        <li><a href="https://expressjs.com/en/starter/generator.html" target="_blank">Express Framwork</a></li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        <li><a href="https://www.getpostman.com/" target="_blank">API development</a></li>
        <li><a href="http://api.jquery.com/jquery.ajax/" target="_blank">Jquery AJAX</a></li>
      </ul>
    </div>
  </div>

  <div class="p-2 bd-highlight">
    <footer>&copy; 2019 Alisa Thaion All Rights Reserved</footer>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>