
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover{
  text-decoration: none;
  color:#000;
}
header{
  height: 10vh;
  background-color: #e6e6e6;
  padding: 10px;
}
header > a{
  color: #808080;
  font-weight: bold;
}
footer{
  height: 5vh;
  padding: 8px;
  background-color: whitesmoke;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  color: grey;
}







